<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/examples/cstrcuk.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1> seguradora de veiculos</h1>
            <h3>Conheca sobre as tecnologias usadas e suas funcionalidades.</h3>
            <br />
            <a href="https://cs-truck.web.app/" target="_blank" class="btn btn-outline-neutral btn-round">VISITAR
            </a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Sobre a aplicação</h2>
                    <h5 class="description">Fui o responssavel pelo site da sc-truck seguradora , nesse caso eu não usei o angular apenas
                         html , css e Javascript .
                    </h5>
                    <br>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <div class="section section-dark text-center">
     
    </div>
</div>
