<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/examples/estoque.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Controle de estoque</h1>
            <h3>Conheca sobre as tecnologias usadas e suas funcionalidades.</h3>
            <br />
        
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Sobre a aplicação</h2>
                    <h5 class="description"> Controle de estoque voltado a empresas farmacelticas, com esta aplicação Desktop é capaz 
                         de cadastrap , produtos ,equipamentos , seu fornecedor controle quantidade de estoque e de vendas e fazer um relatorio geral , 
                          usei para esta aplicação o c# e visual basic.net 
                    </h5>
                    <br>
                </div>
            </div>
            <br /><br />
            <div class="container" style="align-items: center;">
                <video autoplay loop> 
                    <source src="./assets/img/examples/video-cadastro.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container" style="color: antiquewhite;">
            Visite o projeto no GitHUb
        </div> 
        <br>
        <a href="https://github.com/henriquesneiva/estoque" target="_blank" class="btn btn-outline-neutral btn-round">VISITAR
        </a>
    </div>
</div>