<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container" id="homme">
                <div class="title-brand">
                    <div class="angular-logo">

                    </div>
                    <h1 class="presentation-title">Software Developer </h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">henrique santos neiva</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">
        <!-- conhecimentos-->
        <div class="section javascript-components" id="conhecimentos">
            <div class="container ">
                <div class="tim-title">
                    <h2>Conhecimentos</h2>
                </div>
                <div class="row" id="modals">
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>BackEnd</h3>
                        </div>

                        Java ,
                        Spring Boot ,
                        Spring Security,
                        Jpa,
                        Hibernate ,
                        Rest API e RestFull,
                        MySql , PostgreSql , Git e GitHub

                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>FrontEnd</h3>
                        </div>

                        Html5 ,
                        Css3,
                        Javascript,
                        Angular e Bootstrap

                    </div>
                    <br />
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>Desktop</h3>
                        </div>

                        Viaul Basic e C# .net

                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>Outros</h3>
                        </div>

                        Tenho vasto conhecimentos com Hardware , e também na área de musica como multi instrumentista

                    </div>
                </div>
            </div>
        </div>
        <!-- conhecimentos-->
        <div class="section section-dark section-nucleo-icons">
            <div class="container" id="projetos">
                <div class="row">
                    <div style="text-align: center;">
                        <h2 class="title">Projetos </h2><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="servicos">
            <div class="container">
                <div>
                    <h2 class="title">Serviços </h2><br />
                </div>
                <div class="rwo">
                    opa
                </div>
            </div>
        </div>
        <div class="section section-dark" id="contato">
            <div class="container">
                <div>
                    <h2 class="title">Contato </h2><br />
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Contato</h3>

                            <form class="register-form">
                                <label>nome</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">


                                    <input type="text" class="form-control" placeholder="Nome" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>

                                <label>e-mail</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">


                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                                <label>Menssagem</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <input type="text" class="form-control" placeholder="Menssagem"
                                        (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and
                            download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2"
                            class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular"
                            class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip"
                            title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit"
                            class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>