<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container" id="homme">
                <div class="title-brand">
                    <div class="angular-logo">

                    </div>
                    <h1 class="presentation-title">Software Developer </h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">henrique santos neiva</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">
        <!-- conhecimentos-->
        <div class="section javascript-components" id="conhecimentos">
            <div class="container ">
                <div class="tim-title">
                    <h2>Sobre mim</h2>
                </div>
                <div class="rw">
                    <p style="font-size: 1.3rem;">Seja bem-vindo, meu nome é Henrique Santos Neiva, formado em Analise e Desenvolvimento de
                        Sistemas, atualmente trabalho na <a href="https://cwi.com.br/" target="_blank">Cwi software</a>
                        como desenvolvedor FullStack, atuando no cliente <a href="https://www.bv.com.br/"
                            target="_blank">(Banco BV)</a>,
                        sou mais um apaixonado por desenvolvimento e busco trazer um produto/codigo de melhor qualidade
                        possível, fique a vontade para da uma olhada no meu site
                        e entrar em contato, logo abaixo falo sobre as tecnologias que uso diariamente.
                    </p>
                </div>
                <div class="tim-title">
                    <h2>Tecnologias</h2>
                </div>
                <div class="row" id="modals">
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>BackEnd</h3>
                        </div>
                        <b style="font-size: 1rem;">
                        Java,
                        Spring Boot,
                        Spring Security,
                        Jpa,
                        Hibernate,
                        JDBI,
                        MySql, PostgreSql, Git e GitHub.
                        </b>
                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>FrontEnd</h3>
                        </div>
                        <b style="font-size: 1rem;">
                            Angular,
                            TypeScript,
                            Javascript,
                            HTML - CSS,
                            jquey e Bootstrap
                        </b>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>Desktop</h3>
                        </div>
                        <b style="font-size: 1rem;">Viaul Basic e C# .net</b>
                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>Outros</h3>
                        </div>
                        <b style="font-size: 1rem;">
                            Jenkins,
                            Jira,
                            SonarQube,
                            Heroku e Firebase
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <!-- conhecimentos-->
        <div class="section section-dark">
            <div class="container" id="projetos">
                <div class="row">

                    <div style="text-align: center;">
                        <h2 class="title">Projetos </h2>
                    </div>


                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/clientes.png" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">prestação serviços</a>
                        </a>
                    </div>
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/cstruck']">
                            <img src="./assets/img/examples/cstrcuk.png" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/cstruck']" class="btn btn-outline-neutral btn-round">CS-Truck</a>
                        </a>
                    </div>
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/estoque']">
                            <img src="./assets/img/examples/estoque.png" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/estoque']" class="btn btn-outline-neutral btn-round">Estoque</a>
                        </a>
                    </div>

                </div>
                <br><br>
                <div style="align-items: center; text-align: center; color: aliceblue; font-size: 1.3rem;"> 
                    Para mais projetos de uma espiada no GitHub.
                    <a
                        class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom"
                        href="https://github.com/henriquesneiva" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section" id="servicos">
            <div class="container">
                <div>
                    <h2 class="title">Serviços </h2><br />
                </div>
                <div class="rwo">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-html5"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">desenvolvimentoo web</h4>
                                    <p>Desenvolvimento de aplicações web, incluindo parte de frontEnd e BackEnd</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-tv-2"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">desenvolvimento Desktop</h4>
                                    <p>desenvolvimentos de aplicaçoes para windows em especifico.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-support-17"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Manutenção e Bugs</h4>
                                    <p>Manutenções de servicos web, melhorias e resolução de bug´s</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section section-dark" id="contato">
            <div class="container">
                <div>
                    <h2 class="title">Contato </h2><br />
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Contato</h3>

                            <form class="register-form">
                                <input type="hidden" name="accessKey" value="227ef1d3-feb7-4c6d-8fd2-709055f82e3d"
                                    id="accessKey">
                                <input type="text" name="honeypot" id="honeypot" style="display:none">
                                <label>nome</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">


                                    <input type="text" id="nome" name="name" class="form-control" placeholder="Nome"
                                        (focus)="focus=true" (blur)="focus=false">
                                </div>

                                <label>e-mail</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">


                                    <input type="text" id="email" name="email" class="form-control" placeholder="Email"
                                        (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                <label>Menssagem</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <input type="text" id="mensagem" name="message" class="form-control"
                                        placeholder="Menssagem" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                <button type="button" class="btn btn-danger btn-block btn-round"
                                    id="btn-envio">Enviar</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>