<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/examples/bookstory.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>App de livros</h1>
            <h3>Conheca sobre as tecnologias usadas e suas funcionalidades.</h3>
            <br />
            <a href="https://app-bookstory.web.app/" target="_blank" class="btn btn-outline-neutral btn-round">VISITAR
            </a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Sobre a aplicação</h2>
                    <h5 class="description"> Este app foi feito para mostrar o funcionamento da api , foi meu primeiro
                        projeto com angular , nela eu aprendi sobre o angular material e a conssumir uma api.</h5>
                    <br>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container" style="color: antiquewhite;">
            Visite o projeto no GitHUb
        </div> 
        <br>
        <a href="https://github.com/henriquesneiva/bookstory-frontend" target="_blank" class="btn btn-outline-neutral btn-round">VISITAR
        </a>
    </div>
</div>